.bar-chart-item {
	display:block;
	margin:25px 0;
}

.bar-chart-label {
	padding-right:20px;
	line-height:45px;
	font-family:'Open Sans',Arial,Verdana;
	font-size:16px;
	text-align:left;
}

.bar-chart-graph{
	display:inline-block;
	height:30px;
	background-color:#03C600;
	text-align:center;
	line-height:25px;
}

.bar-chart-inner-text {
	font-size:24px;
	font-weight:bold;
	color:#fff;
}

.bar-chart-outer-text {
	display:none;
	margin-left:20px;
	line-height:25px;
	font-size:18px;
	font-weight:bold;
	color:#777;
}

@media (min-width: 760px){
	.bar-chart-label{
		text-align:right;
	}
}